<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doit.app.mapper.AdminReviewMapper">

    <!-- 조건문. 검색 유형별 필터 -->
    <sql id="where-list">
        <choose>
            <!-- 리뷰 번호 -->
            <when test="schType == 'reviewNo'">
                AND <![CDATA[ A.CONTENT_REVIEW_NO = #{kwd} ]]>
            </when>
            <!-- 컨텐츠 ID -->
            <when test="schType == 'contentId'">
                AND <![CDATA[ A.CONTENTID = #{kwd} ]]>
            </when>
            <!-- 내용 -->
            <when test="schType == 'comment'">
                AND <![CDATA[ DBMS_LOB.INSTR(A.REVIEW_COMMENT, #{kwd}, 1, 1) > 0 ]]>
            </when>
            <!-- 작성자 닉네임 -->
            <when test="schType == 'nickName'">
                AND <![CDATA[ A.MEMBER_NO IN (
                              SELECT MEMBER_NO
                              FROM MEMBER_ACTIVE
                              WHERE INSTR(NICKNAME, #{kwd}) > 0) ]]>
            </when>
            <!-- 그 외: 알 수 없는 schType은 필터 없이 전체 조회 -->
            <otherwise></otherwise>
        </choose>
    </sql>

    <!-- 데이터 개수 -->
    <select id="selectReviewCount" parameterType="map" resultType="Integer">
        SELECT COUNT(*)
        FROM CONTENT_REVIEW A
        <where>
            <if test="kwd != null and kwd != ''">
                <include refid="where-list"/>
            </if>
        </where>
    </select>

    <!-- 리뷰 조회 -->
    <select id="selectReviews" parameterType="map" resultType="com.doit.app.domain.ReviewVo">
        SELECT CONTENT_REVIEW_NO as CONTENTREVIEWNO, CONTENTID
        , A.MEMBER_NO as MEMBERNO
        , B.NICKNAME
        , REVIEW_COMMENT as REVIEWCOMMENT
        , RATING
        , TO_CHAR(A.CREATE_DT, 'YYYY-MM-DD') AS CREATEDT
        , BLIND_YN AS BLINDYN
        FROM CONTENT_REVIEW A
        JOIN MEMBER_ACTIVE B ON A.MEMBER_NO = B.MEMBER_NO
        <where>
            <if test="kwd != null and kwd != ''">
                <include refid="where-list"/>
            </if>
        </where>
        ORDER BY A.CREATE_DT DESC
        OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
    </select>

    <!-- 리뷰 블라인드 업데이트 -->
    <update id="updateReviewBlind" parameterType="Long">
        UPDATE CONTENT_REVIEW
        SET BLIND_YN = 'Y'
        WHERE CONTENT_REVIEW_NO = #{reviewNo}
    </update>
</mapper>
